<div class="collection-cart" style="
    z-index: 9999999;
    position: relative;">
  {% for variant in product.variants %}
    <input type="hidden" id="varaintgetid" value="{{ variant.id }}">
  {% endfor %}
  <button onclick="addToCart()" type="button" name="add" id="collection-cart-{{ product.id }}" >Add To cart</button>
</div>

<script>
//   function addToCart() {
//    let addCart = document.querySelectorAll('.collection-cart button');
//     alert("ok");
// }

  $(document).on('click','#collection-cart-{{ product.id }}',function(){
    let getvarintid = $(this).parents('collection-cart').find('#varaintgetid').val();
    alert('ok');
  });
</script>