<div class = "ono-content-container">
  {% section 'ono-information' %}
  {% section 'text-with-description' %}
  {% section 'image-gallery' %}
  <!-- {% section 'ono-video-section' %} -->
  {% section 'ono-review' %}
  {% section 'ono-lp-faq' %}
  {% section 'card-hover-overlay' %}
  {% section 'Write-a-review' %}
  {% section 'product-lp-ono' %}
  {% section 'ono-new-page-design' %}
  {% section 'A1-flyer-section' %}
</div>